body{
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;

}
.logo{
	 margin-left: 300px;
}
@font-face{
	font-family: myFirstFont;
	src:url(../../MellowDemo.woff2);
}
@media(max-width:320px)
{
	.logo{
		width:200px ;
		height:300px ;
		margin-top:-80px ;
		margin-left:-50px ;

	}
	
	#orchids{
		font-size: 9px !important;
	}
	#children{
		font-size: 13px !important;
	}
	#film{
		font-size: 13px !important;
	}
	#festival{
		font-size: 13px !important;
	}
	#date{
		font-size: 10px !important;
	}
	#place{
		font-size:10px !important; 
	}
	.top{
		margin-left: -30px !important;
	}
}
@media(max-width:480px)
{
	.logo{
		width:350px ;
		height:350px ;
		margin-top:-100px ;
		margin-left:-70px ;

	}
	
	#orchids{
		font-size: 12px !important;
	}
	#children{
		font-size: 16px !important;
	}
	#film{
		font-size: 16px !important;
	}
	#festival{
		font-size: 16px !important;
	}
	#date{
		font-size: 13px !important;
	}
	#place{
		font-size:13px !important; 
	}
	.top{
		margin-left: -40px;
	}
}
.menu{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu li{
	padding: 8px;
}
.menu a{
	text-decoration: none;
}
.menu li img{
	width: 180px;
	height: 90px;
}
.menu li img:hover{
	width: 188px;
	height: 99px;
	transition: 0.3s;
}
.register{
	margin-left: 140px;
}