body{
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;

}
.logo{
	 margin-top: -160px;
	 margin-left: 20px;
	 height: 550px;
	 width: 550px;
}
@font-face{
	font-family: myFirstFont;
	src:url(../../MellowDemo.woff2);
}
@media(max-width:320px)
{
	.logo{
		width:200px ;
		height:300px ;
		margin-top:-80px ;
		margin-left:-50px ;

	}
	
	#orchids{
		font-size: 9px !important;
	}
	#children{
		font-size: 13px !important;
	}
	#film{
		font-size: 13px !important;
	}
	#festival{
		font-size: 13px !important;
	}
	#date{
		font-size: 10px !important;
	}
	#place{
		font-size:10px !important; 
	}
	.top{
		margin-left: -30px !important;
	}
}
@media(max-width:480px)
{
	.logo{
		width:350px ;
		height:350px ;
		margin-top:-100px ;
		margin-left:-70px ;

	}
	
	#orchids{
		font-size: 12px !important;
	}
	#children{
		font-size: 16px !important;
	}
	#film{
		font-size: 16px !important;
	}
	#festival{
		font-size: 16px !important;
	}
	#date{
		font-size: 13px !important;
	}
	#place{
		font-size:13px !important; 
	}
	.top{
		margin-left: -40px;
	}
}
.abc{
	margin-top:-400px ;
	width:180px ;
	height:90px ;
	margin-left: 70px;
}
.abc:hover{
	width:187px;
	height:99px ;
}
.movie:hover{
	width:187px;
	height:99px ;
}
.home:hover{
	width:187px;
	height:99px ;
}
.action:hover{
	width:187px;
	height:99px ;
}
.mov:hover{
	width:187px;
	height:99px ;
}
.movie{
	margin-top:-400px ;
	width:180px ;
	height:90px ;
	margin-left: -20px;
}

.home{
	margin-top:-400px ;
	width:180px ;
	height:90px ;
	margin-left: -20px;
}

.action{
	margin-top:-400px ;
	width:180px ;
	height:90px ;
	margin-left: -20px;
}

.mov{
	margin-top:-400px ;
	width:180px ;
	height:90px ;
	margin-left: -20px;
}
.register{
	margin-left: 120px ;
	margin-top: -60px ;

}
.nav .hidden-sm:hover{
      background-color: transparent;
}
ul .nav .navbar-nav li .hidden-sm{
	background-color: transparent !important;
}